.sidebar {
  position: fixed;
  top: 64px; /* height of navbar */
  left: 0;
  width: 220px;
  height: calc(100vh - 64px);
  background-color: #EEEFFF;
  padding: 2rem 1rem;
  box-shadow: 1px 0 5px rgba(0,0,0,0.1);
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 1.2rem;
}

.sidebar a {
  text-decoration: none;
  color: #F589FA;
  font-weight: 500;
  transition: color 0.2s ease;
  padding-left: 2rem;
}

.sidebar a:hover {
  color: #eb74f1;
}
